<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" placeholder='{{beginDate.day}}.{{beginDate.month}}.{{beginDate.year}}'></my-date-range-picker>
        
                <button class="btn btn-primary btn-round" style="vertical-align: text-bottom;" (click)="showOverall()">累積總數</button>
            </div>
            <div class="col-md-6">
        
            </div>
        </div>


        <div class="row">
            <div class="col-md-9">
            <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">timeline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">最常搜尋關鍵字
                            <small> - 頭 5 名</small>
                        </h4>
                        
                    </div>
                    <div class="row">
                    <div class="col-md-9">
                    <div id="colouredBarsChart" class="ct-chart"></div>
                    </div>
                    <div class="col-md-3" *ngFor="let keyword of keywords">  
                        <h2 *ngIf="keyword.color != ''" class="{{keyword.color}}"  [ngStyle]="{'font-size':keyword.count}" (mouseover)="highlight($event)" (mouseout)="noHighlight($event)">
                            {{keyword.word}} </h2>
                    </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">最常使用卡片</h4>
                            <div class="content table-responsive" *ngIf="tableData2 != null">
                                <table class="table">
                                    <thead class="text-primary">
                                        <tr>
                                            <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of tableData2.dataRows">
                                            <td>{{row[0]}}</td>
                                            <td class="text-primary">{{row[1]}}</td>
                    
                                        </tr>
                                    </tbody>
                                </table>
                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="material-icons">timeline</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">
                                <!-- <small> - Rounded</small> -->
                            </h4>
                    
                        </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div id="colouredBarsChart2" class="ct-chart"></div>
                                </div>
                                <div class="col-md-3">
                                    <!-- <div class="tim-typo"> -->
                                    <!-- <span class="tim-note">Primary Text</span> -->
                                    <p class="text-info">
                                        查詢診所時間 </p>
                                    <!-- </div>
                                                <div class="tim-typo"> -->
                                    <p class="text-danger">
                                        預約醫生 </p>
                                        </div>
                                        </div>
                        
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="rose">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">不能處理的字句</h4>
                                    <div class="content table-responsive" *ngIf="tableData3 != null">
                                        <table class="table">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th *ngFor="let cell of tableData3.headerRow">{{ cell }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableData3.dataRows">
                                                    <td>{{row[0]}}</td>
                                                    <td class="text-primary">{{row[1]}}</td>
                    
                                                </tr>
                                            </tbody>
                                        </table>
                    
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="rose">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">收到的回饋</h4>
                                    <div class="content table-responsive" *ngIf="tableData4 != null">
                                        <table class="table">
                                            <thead class="text-primary">
                                                <tr>
                                                    <th *ngFor="let cell of tableData4.headerRow">{{ cell }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableData4.dataRows">
                                                    <td>{{row[0]}}</td>
                                                    <td class="text-primary">{{row[1]}}</td>
                        
                                                </tr>
                                            </tbody>
                                        </table>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
            

            <div class="col-md-3" >
                <div class="card">
                    <!-- <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div> -->
                    <div class="card-content">
                        <h4 class="card-title">頭 30 名 關鍵字</h4>
                        <div class="content table-responsive">
                            <table class="table" *ngIf="tableData1 != null">
                                <thead class="text-primary">
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData1.dataRows">
                                        <td>{{row[0]}}</td>
                                        <td class="text-primary">{{row[1]}}</td>
                
                                    </tr>
                                </tbody>
                            </table>
                
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <!-- <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">insert_chart</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">追蹤對話 -->
                            <!-- <small>- Bar Chart</small> -->
                        <!-- </h4>
                    </div>
                    <div id="multipleBarsChart" class="ct-chart"></div>
                </div>
            </div>
        </div> -->

        

    </div>
</div>