<div class="main-content">
    <div class="container-fluid">
       
        <!-- <div class="row" *ngIf="figures != null">
            <div class="col-md-4" *ngFor="let figure of figures;">
                <div class="card card-stats">
                    <div class="card-header" [attr.data-background-color]="figure.backgroundColor">
                        <i class="material-icons">{{figure.bigIcon}}</i>
                    </div>
                    <div class="card-content">
                        <p class="category">{{figure.category}}</p>
                        <h3 class="card-title">{{figure.number}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p class="category" *ngIf='figure.smallText != ""'>
                                <span *ngIf="figure.smallIcon == 'increase'; else decrease" class="text-success">
                                    <i class="fa fa-long-arrow-up"></i> {{figure.smallText}} </span>
                                <ng-template #decrease>
                                    <span class="text-danger">
                                        <i class="fa fa-long-arrow-down"></i> {{figure.smallText}} </span>
                                </ng-template>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <!-- <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">pie_chart</i>
                    </div> -->
                    <div class="card-content">
                        <h4 class="card-title">用戶性別</h4>
                    </div>
                    <div id="chartPreferences" class="ct-chart"></div>
                    <div class="card-footer">
                        <h6>Legend</h6>
                        <i class="fa fa-circle text-info"></i> 男
                        <i class="fa fa-circle text-danger"></i> 女
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <!-- <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">pie_chart</i>
                    </div> -->
                    <div class="card-content">
                        <h4 class="card-title">用戶地區</h4>
                    </div>
                    <div id="chartPreferences2" class="ct-chart"></div>
                    <div class="card-footer">
                        <h6>Legend</h6>
                        <i class="fa fa-circle text-info"></i> Kowloon
                        <i class="fa fa-circle text-danger"></i> New Territories
                        <i class="fa fa-circle text-warning"></i> Hong Kong Island
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <!-- <div class="card-header card-header-icon" data-background-color="red">
                        <i class="material-icons">pie_chart</i>
                    </div> -->
                    <div class="card-content">
                        <h4 class="card-title">用戶年齡</h4>
                    </div>
                    <div id="chartPreferences3" class="ct-chart"></div>
                    <div class="card-footer">
                        <h6>Legend</h6>
                        <i class="fa fa-circle text-info"></i> 18以下
                        <i class="fa fa-circle text-danger"></i> 18-24
                        <i class="fa fa-circle text-warning"></i> 25-34
                        <i class="fa fa-circle text-primary"></i> 35-44
                        <i class="fa fa-circle text-success"></i> 45-54
                        <i class="fa fa-circle text-default"></i> 55以上
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <!-- <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" placeholder='{{beginDate.day}}.{{beginDate.month}}.{{beginDate.year}}'></my-date-range-picker> -->
                <!-- <button class="btn btn-primary btn-round" style="vertical-align: text-bottom;" (click)="showOverall()">累積總數</button> -->
                <md-select [color]="selectTheme" placeholder="" name="period" [(ngModel)]="period" ngClass="btn btn-primary btn-round simple" (change)="reload()">
                    <md-option *ngFor="let duration of durations" [value]="duration.value">
                        {{ duration.viewValue }}
                    </md-option>
                </md-select>
            </div>
           
        </div>


        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="material-icons">timeline</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">活躍用戶
                        <!-- <small> - Rounded</small> -->
                    </h4>
                    
                </div>
                <div class="row">
                    <!-- <div class="col-md-9"> -->
                        <div id="colouredBarsChart" class="ct-chart"></div>
                    <!-- </div> -->
                    <!-- <div class="col-md-3">
                        <p class="text-info">
                            信息 </p>
                        <p class="text-danger">
                            用戶 </p>
                    </div> -->
                </div>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">活躍用戶</h4>
                        <div class="content table-responsive" *ngIf="tableData2 != null">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th> <!-- should show days -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData2.dataRows; let $index = index;">
                                        <td>{{row[0]}}</td>       <!-- should show day -->
                                        <td class="{{classList2[$index][1]}}">{{row[1]}}</td>       
                                        <td class="{{classList2[$index][2]}}">{{row[2]}}</td>
                                        <td class="{{classList2[$index][3]}}">{{row[3]}}</td>
                                        <td class="{{classList2[$index][4]}}">{{row[4]}}</td>
                                        <td class="{{classList2[$index][5]}}">{{row[5]}}</td>
                                        <td class="{{classList2[$index][5]}}">{{row[6]}}</td>
                                        <td class="{{classList2[$index][5]}}">{{row[7]}}</td>
                                        <td class="{{classList2[$index][5]}}">{{row[8]}}</td>
                                        <td class="{{classList2[$index][5]}}">{{row[9]}}</td>
                                        <td class="{{classList2[$index][5]}}">{{row[10]}}</td>
                                        <td class="{{classList2[$index][5]}}">{{row[11]}}</td>
                                        <td class="{{classList2[$index][5]}}">{{row[12]}}</td>
                                    </tr>
                                </tbody>
                            </table>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">回歸用戶</h4>
                        <div class="content table-responsive" *ngIf="tableData != null">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                                        <!-- should show days -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData.dataRows; let $index = index;">
                                        <td>{{'week'+$index }}</td>
                                        <!-- should show weeks -->
                                        <td class="{{classList[$index][0]}}">{{row[0]}}</td>
                                        <!-- should show colors/percent -->
                                        <td class="{{classList[$index][1]}}">{{row[1]}}</td>
                                        <!--{{percentList[$index][1]}}-->
                                        <td class="{{classList[$index][2]}}">{{row[2]}}</td>
                                        <td class="{{classList[$index][3]}}">{{row[3]}}</td>
                                        <td class="{{classList[$index][4]}}">{{row[4]}}</td>
                                        <td class="{{classList[$index][5]}}">{{row[5]}}</td>
                                    </tr>
                                </tbody>
                            </table>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="row">
            <div class="col-sm-8">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title lighter smaller">
                            <i class="ace-icon fa fa-comment blue"></i>
                            問答統計
                        </h4>
                        <div class="widget-toolbar">
                            <button type="button" class="btn btn-info btn-simple custom" rel="tooltip" data-placement="bottom" title="Refresh" (click)="refresh();">
                                <i class="material-icons">refresh</i>
                            </button>
                        </div>
                    </div>
        
                    <div class="widget-body" *ngIf="conversations != null">
                        <div class="widget-main no-padding">
                            <div class="scroll-content">
                                <div class="dialogs" *ngFor="let conv of conversations;">
        
                                    <div class="itemdiv dialogdiv" *ngIf="conv.Name == adminName;else notAdmin">
        
                                        <div class="body Admin">
                                            <div class="time">
                                                            <i class="ace-icon fa fa-clock-o"></i>
                                                            <span class="red">{{conv.Time}}</span>
                                                        </div>
        
                                            <div class="name">
                                                <a>{{conv.Name}}</a>
                                                <span class="label label-info arrowed arrowed-in-right">chatbot</span>
                                            </div>
                                            <div class="text">{{conv.Comment}}</div>
        
                                        </div>
        
                                        <div class="user right">
                                            <img alt="Bob's Avatar" src="{{conv.ImgUrl}}" />
                                        </div>
                                    </div>
        
                                    <ng-template #notAdmin>
                                        <div class="itemdiv dialogdiv">
                                            <div class="user">
                                                <img alt="Alex's Avatar" src="{{conv.ImgUrl}}" />
                                            </div>
        
                                            <div class="body">
                                                <div class="time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span class="blue">{{conv.Time}}</span>
                                                            </div>
        
                                                <div class="name">
                                                    <a>{{conv.Name}}</a>
                                                </div>
                                                <div class="text">{{conv.Comment}}</div>
        
                                                <div class="tools">
                                                                <a (click)="reply(conv.Name, conv.Comment)" class="btn btn-minier btn-info">
                                                                    <i class="icon-only ace-icon fa fa-share"></i>
                                                                </a>
                                                            </div>
                                            </div>
                                        </div>
        
                                    </ng-template>
        
                                </div>
                            </div>
        
                            <form>
                                                <div class="form-actions">
                                                    <div class="input-group">
                                                        <input placeholder="Type your message here ..." type="textarea" rows="3" class="form-control message" name="message" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm btn-info no-radius" type="button" (click)="sendMessage()">
                                                                <i class="ace-icon fa fa-share"></i>
                                                                Send
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                        </div> -->
                        <!-- /.widget-main -->
                    <!-- </div> -->
                    <!-- /.widget-body -->
                <!-- </div> -->
                <!-- /.widget-box -->
            <!-- </div> -->
            <!-- /.col -->
        <!-- </div> -->

    </div>
</div>