<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="figures != null">
                <div class="col-sm-6 col-lg-3" *ngFor="let figure of figures;">
                    <div class="card card-stats">
                        <div class="card-header" [attr.data-background-color]="figure.backgroundColor">
                            <i class="material-icons">{{figure.bigIcon}}</i>
                        </div>
                        <div class="card-content">
                            <p class="category">{{figure.category}}</p>
                            <h3 class="card-title">{{figure.number}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <p class="category" *ngIf='figure.smallText != ""'>
                                    <span *ngIf="figure.smallIcon == 'increase'; else decrease" class="text-success">
                                        <i class="fa fa-long-arrow-up"></i> {{figure.smallText}} </span>
                                        <ng-template #decrease>
                                            <span class="text-danger">
                                            <i class="fa fa-long-arrow-down"></i> {{figure.smallText}} </span>
                                        </ng-template>
                                </p>
                                <!-- <i class="material-icons text-success">{{figure.smallIcon}}</i>
                                <a *ngIf="figure.optionalLink != '';else noLink" href="{{figure.optionalLink}}">{{figure.smallText}}</a>
                                <ng-template #noLink>{{figure.smallText}}</ng-template> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="material-icons">timeline</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">累積用戶及信息數
                                <!-- <small> - Rounded</small> -->
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div id="colouredBarsChart" class="ct-chart"></div>
                            </div>
                            <div class="col-md-3">
                                <p class="text-info">
                                     信息 </p>
                                <p class="text-danger">
                                    用戶 </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5"  *ngIf="otherFigures != null">
                    <div class="row" *ngFor="let otherFigure of otherFigures;">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="card card-stats">
                                <div class="card-header" [attr.data-background-color]="otherFigure.backgroundColor">
                                    <i class="material-icons">{{otherFigure.bigIcon}}</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">{{otherFigure.category}}</p>
                                    <h3 class="card-title">{{otherFigure.number}}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <p class="category" *ngIf='otherFigure.smallText != ""'>
                                            <span *ngIf="otherFigure.smallIcon == 'increase'; else decrease" class="text-success">
                                                <i class="fa fa-long-arrow-up"></i> {{otherFigure.smallText}} </span>
                                            <ng-template #decrease>
                                                <span class="text-danger">
                                                    <i class="fa fa-long-arrow-down"></i> {{otherFigure.smallText}} </span>
                                            </ng-template>
                                        </p>
                                        <!-- <i class="material-icons text-success">{{otherFigure.smallIcon}}</i>
                                                                <a *ngIf="otherFigure.optionalLink != '';else noLink" href="{{otherFigure.optionalLink}}">{{otherFigure.smallText}}</a>
                                                                <ng-template #noLink>{{otherFigure.smallText}}</ng-template> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="green" data-header-animation="true">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                           
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh" (click)="loadSimpleCharts();">
                                <i class="material-icons">refresh</i>
                            </button>
                            
                        </div>
                        <h4 class="card-title">本月新用戶</h4>
                        <p class="category" *ngIf="newUser != null">
                            <span *ngIf="newUser.smallIcon == 'increase'; else decrease1" class="text-success">
                                <i class="fa fa-long-arrow-up"></i> {{newUser.percentage}}</span>
                            <ng-template #decrease1>
                                <span class="text-danger">
                                    <i class="fa fa-long-arrow-down"></i> {{newUser.percentage}}</span>
                            </ng-template>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> {{updateTime}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="orange" data-header-animation="true">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                           
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh" (click)="loadSimpleCharts();">
                                <i class="material-icons">refresh</i>
                            </button>
                            
                        </div>
                        <h4 class="card-title">本月信息量</h4>
                        <p class="category" *ngIf="newMessage != null">
                            <span *ngIf="newMessage.smallIcon == 'increase'; else decrease2" class="text-success">
                                <i class="fa fa-long-arrow-up"></i> {{newMessage.percentage}}</span>
                            <ng-template #decrease2>
                                <span class="text-danger">
                                    <i class="fa fa-long-arrow-down"></i> {{newMessage.percentage}}</span>
                            </ng-template>
                        </p>
                        </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> {{updateTime}}
                        </div>
                    </div>
            </div>
        </div>


<!-- 
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">客戶對話</h4>
                        <div class="content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData.dataRows">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td><a href="{{row[2]}}">{{row[2]}}</a></td>
                
                                    </tr>
                                </tbody>
                            </table>
                
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

<!-- 
        <div class="row">
            <div class="col-sm-8">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title lighter smaller">
                            <i class="ace-icon fa fa-comment blue"></i>
                            醫生問答
                        </h4> -->
                        <!-- <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div> -->
                    <!-- </div>
            
                    <div class="widget-body" *ngIf="conversations != null">
                        <div class="widget-main no-padding">
                            <div class="scroll-content">
                            <div class="dialogs" *ngFor="let conv of conversations;">
            
                                <div class="itemdiv dialogdiv" *ngIf="IsAdmin(conv.Name);else notAdmin">
                                    
                                    <div class="body Admin">
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o"></i>
                                            <span class="red">{{conv.Time}}</span>
                                        </div>
            
                                        <div class="name">
                                            <a href="#">{{conv.Name}}</a>
                                            <span class="label label-info arrowed arrowed-in-right">admin</span>
                                        </div>
                                        <div class="text">{{conv.Comment}}</div>
            
                                    </div>

                                    <div class="user right">
                                        <img alt="Bob's Avatar" src="{{conv.ImgUrl}}" />
                                    </div>
                                </div>

                                <ng-template #notAdmin>
                                    <div class="itemdiv dialogdiv">
                                        <div class="user">
                                            <img alt="Alex's Avatar" src="{{conv.ImgUrl}}" />
                                        </div>
                                    
                                        <div class="body">
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span class="blue">{{conv.Time}}</span>
                                            </div>
                                    
                                            <div class="name">
                                                <a href="#">{{conv.Name}}</a>
                                            </div>
                                            <div class="text">{{conv.Comment}}</div>
                                    
                                            <div class="tools">
                                                <a (click)="reply(conv.Name, conv.Comment)" class="btn btn-minier btn-info">
                                                    <i class="icon-only ace-icon fa fa-share"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </ng-template>
            
                            </div>
                            </div>
            
                            <form>
                                <div class="form-actions">
                                    <div class="input-group">
                                        <input placeholder="Type your message here ..." type="textarea" rows="3" class="form-control message" name="message" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm btn-info no-radius" type="button" (click)="sendMessage()">
                                                <i class="ace-icon fa fa-share"></i>
                                                Send
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div> -->
                        <!-- /.widget-main -->
                    <!-- </div> -->
                    <!-- /.widget-body -->
                <!-- </div> -->
                <!-- /.widget-box -->
            <!-- </div> -->
            <!-- /.col -->
        <!-- </div> -->


    </div>
</div>
